/* NAV BAR DONT TOUCH */
@media (max-width: 576px){
    .sidebar{
      width: 100%;
    }
}
/* NAV BAR DONT TOUCH*/
@media (max-width: 768px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
}

/* Media Queries */

/* XS Screens */
:root {
    --nav-text: 1.2rem;
    --intro-text: 1.75rem;
    --face-size: 225px;
    --highlight-text: 2.75rem;
    --heading-size: 2rem;

    --work-history-width: 96%;
    --job-length-alignment: left;

    --project-row-padding: 1rem;

    --phone-number-alignment: left;
    --contact-me-title: 3rem;
    --copyright-text: 1rem;

    --text-highlight-color: #80F5EE;
    --text-normal-color: #EDEDEB;
    --button-color-1: #D87C67;
    --button-color-2: #BFD7EA;
    --header-color: #F0E6D6;
    --border-color: #5B6B7A;
    --background-color: #4A5260;

    --container-color-background-1: #1D2A4C;
    --container-color-background-2: rgb(16 21 48 / var(--tw-bg-opacity));
    --container-color-highlight: #4D9BE6;

    --hover-name: 3rem;
}

/* SM Screens */
@media (min-width: 577px) {
    :root {
        --nav-text: 1.2rem;
        --intro-text: 2rem;
        --face-size: 250px;
        --highlight-text: 3rem;
        --heading-size: 2.25rem;

        --work-history-width: 91%;
        --job-length-alignment: left;

        --project-row-padding: 2rem;

        --phone-number-alignment: left;
        --contact-me-title: 3rem;
        --copyright-text: 1.17rem;
        
    }
}

/* MD Screens */
@media (min-width: 769px) {
    :root {
        --nav-text: 1.25rem;
        --intro-text: 2.25rem;
        --face-size: 275px;
        --highlight-text: 3.25rem;
        --heading-size: 2.5rem;

        --work-history-width: 86%;
        --job-length-alignment: left;

        --project-row-padding: 3rem;

        --phone-number-alignment: left;
        --contact-me-title: 3.25rem;
        --copyright-text: 1.33rem;
    }
}

/* LG+ Screens */
@media (min-width: 993px) {
    :root {
        --nav-text: 1.4rem;
        --intro-text: 2.5rem;
        --face-size: 300px;
        --highlight-text: 3.5rem;
        --heading-size: 2.75rem;
        
        --work-history-width: 80%;
        --job-length-alignment: right;

        --project-row-padding: 4rem ;

        --phone-number-alignment: right;
        --contact-me-title: 3.5rem;
        --copyright-text: 1.5rem;
    }
}