* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    min-height: 100vh;
    /* background-image: url('images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: transparent;
    padding: 30px 8%;
    width: 100vw;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--nav-text);
    text-align: center;
    
}

nav ul{
    padding-left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: auto;
    margin: 0px 20px;
}
nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-normal-color);
    border-bottom: 2px solid transparent;
    transition: 0.5s ease-out;
    cursor: pointer;
}
nav a:hover, nav a:focus{
    border-bottom: 2px solid var(--text-normal-color);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.sidebar li{
    width: 100%;
    height: 100px;
    margin-left: 0;
}

.sidebar a{
    width: 100%;
    padding: 10%;
    fill: var(--text-normal-color);
}

.sidebar a:hover {
    background-color: white;
    border-bottom: none;
    color: var(--background-color);
    fill: var(--background-color);
}

.menu-button{
    display: none;
}

#intro-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 20vh;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#name {
    color: var(--text-highlight-color);
    font-weight: 1200;
    font-size: var(--highlight-text);
}

#intro-text {
    font-weight: 900;
    max-width: 700px;
    font-size: var(--intro-text);
    color: var(--text-normal-color);
}

.heading-margin {
    margin-top: 60px;
}

.image-container {
    height: auto;
    width: auto;
    max-width: var(--face-size);
    max-height: var(--face-size);
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; 
}

.about-me-text {
    font-weight: 900;
    font-size: var(--heading-size);
    margin-bottom: 20px;
    color: var(--text-normal-color)
}

#about-me-container {
    text-align: center;
    flex-direction: column;
    color: var(--text-normal-color);
}

#education-container {
    min-height: 200px;
    background-color: var(--container-color-background-1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

#education-container ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

#gpa-text {
    font-size: 1.5rem;
}

#activities-container {
    min-height: 200px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--container-color-background-1);
}

#activities-container ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.information-container {
    width: 100%;
    padding: 0 8%;
}

#information-text {
    font-size: 1.2rem;
    font-weight: 600;
}

@keyframes slideInTop {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px)
    }
}

.slideInTop {
    animation: slideInTop 1s ease-in 1s 1 normal none;
}

.project-container {
    flex-direction:  column;
    margin: auto;
    border-radius: 20px;
}
.project-wrapper {
    border: none;
    border-radius: 20px;
    background-color: var(--container-color-background-1);
    color: var(--text-normal-color);
}

#project-heading {
    color: var(--text-normal-color);
}

#project-row {
    padding: 0 var(--project-row-padding);
}

.project-information {
    --tw-bg-opacity: 1;
    background-color: rgb(16 21 48 / var(--tw-bg-opacity));
    border-radius: 20px;
    padding: 10px;
}
.project-photo {
    max-width: 100%;
    overflow: hidden;
    background-position: center;
    border-radius: 20px;
}
#project-main {
    padding: 0 var(--project-row-padding);
}
#project-row {
    padding: 0;
}

#project-title-text {
    margin: 0.5rem 0;
    font-size: 1.75rem;
}

#project-description-text {
    font-size: 1;
    font-weight: 400;
}

#github-link {
    border: none;
    background-color: transparent;
    font-size: 1.75rem;
}
#github-link a {
    text-decoration: none;
    color: var(--container-color-highlight);
    
}

.skill-button {
    width: auto;
    padding: 4px 10px;
    height: auto;
    text-decoration: none;
    color: var(--text-normal-color);
    font-weight: 600;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: var(--container-color-highlight);
    cursor: default;
}

#Python {
    background-color: #4584B6;
}

#Scikit-learn {
    background-color: #4584B6;
}

#Pygame {
    background-color: #4584B6;
}

#HTML {
    background-color: #E34C26;
}

#CSS {
    background-color: #264DE4;
}

#JavaScript {
    background-color: #F7DF1E;
}

#experience-heading {
    color: var(--text-normal-color);
}
.job-container {
    width: var(--work-history-width);
    border-left: 3px solid var(--container-color-highlight);
    color: var(--text-normal-color);
}

.job-wrapper {
    width: 100%;
}

#job-title-text {
    font-size: 1.75rem;
    font-weight: 700;
}

#job-length-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: var(--job-length-alignment);
}

#job-company-text {
    font-size: 1.25rem;
    font-weight: 600;
}

#job-description-text {
    font-size: 1.2rem;

}

.contact-container {
    flex-direction: column;
    height: auto;
    margin: 20px;
    background-color:var(--container-color-background-1);
    color: white;
    border-radius: 20px;
}
#contact-heading-1 {
    width: 100%;
    font-size: 1.25rem;
}

#get-in-touch {
    text-transform: uppercase;
    color: rgb(170 166 195);
    text-align: left;
    padding: 0;
}

#phone-number {
    font-weight: 600;
    color: var(--container-color-highlight);
    text-align: var(--phone-number-alignment);
    padding: 0;
}

.contact-icon {
    font-weight: 500;
}

#contact-text {
    text-align: left;
    width: 100%;
    font-weight: 1500;
    font-size: var(--contact-me-title);
    margin-bottom: 1.2rem;
}

#name-email-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 750;
}

.message-container {
    width: 100%; 
}

#message-input {
    width: 100%;
    resize: none;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
}
 
.name-email-container {
    width: 100%;
    padding: 0;
}

.contact-input {
    width: 100%;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(16 21 48 / var(--tw-bg-opacity));
    border: 3px solid transparent;
    outline: none;
    color: white;
    transition: 0.3s ease-out 0s;
}
.contact-input:focus {
    border: 3px solid var(--container-color-highlight);
}

#name-container {
    padding: 0;
    padding-right: 5px;
}

#email-container {
    padding: 0;
}

#send-message-btn {
    border-radius: 15px;
    margin-top: 25px;
    background-color: var(--container-color-highlight);
    color:white;
    border: none;
    transition: 0.3s ease-out 0s;
}

#send-message-btn:active {
    transform: scale(0.9);
}

/* BACKGROUND STUFF */
.text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}
  
:root {
    --color-bg1: #2F3944;
    --color-bg2: #2F3944;
    --color1: 54, 69, 79;
    --color2: 83, 104, 120;
    --color3: 44, 53, 57;
    --color4: 74, 81, 99;
    --color5: 55, 71, 79;
    --color-interactive: 119, 136, 153;
    --circle-size: 80%;
    --blending: hard-light;
}
  
@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
}
  
@keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
}
  
.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}
    
.gradient-bg svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
}
  
  
.gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
}
  
.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
  
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
  
    opacity: 1;
}
  
.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
  
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  
    opacity: 1;
}
  
.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
  
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  
    opacity: 1;
}
  
.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
  
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
  
    opacity: 0.7;
}
  
.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
  
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  
    opacity: 1;
}
  
.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
  
    opacity: 0.7;
}

#back-to-top {
    text-decoration: none;
    color: var(--text-normal-color);
    font-size: var(--heading-size);
    margin-top: 30px;
}

.resume-link {
    margin-left: 1rem;
}

#copyright-text {
    margin: 50px 0;
    color: var(--text-normal-color);
    font-size: 1.5rem;
}

/* Animate on Scroll */
@keyframes appearOnScroll {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.animate {
    animation: appearOnScroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.animateBottomText {
    animation: appearOnScroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}